ion-input{
    border: 1px #999999 solid;
    border-radius: 6px;
}

.signupblock{
    padding: 40px;
    div{
        ion-label{
            font-size: 14px;
               
        }
    }
}
.labeladjust{
    padding-top: 10px;
    padding-bottom: 5px ;
}

ion-select{
    border: 1px #999999 solid;
    border-radius: 6px;
}