

<ion-content  color="">
  <img src="assets/signup.PNG">
  <form form-control="standalone"> 
    
    <div class="signupblock">
      <!-- <div>
        <div class="labeladjust"><ion-label >ID</ion-label><br/></div>
        <ion-input  type="number" [(ngModel)]="id" name="id" required></ion-input>
      </div>  -->
       <div>
        <div class="labeladjust"><ion-label >Name</ion-label><br/></div>
           <ion-input  type="text" [(ngModel)]="name" name="name" required></ion-input> 
           <!-- <ion-input  type="text"  name="name" (focusout) = "focusoutHandler($event)"></ion-input> -->
      </div>
     
        <div>
          <div class="labeladjust"><ion-label >Phone Number</ion-label><br/></div>
          <ion-input  type="number" [(ngModel)]="phone" name="phone"></ion-input>
        </div>
        <div>
          <div class="labeladjust"><ion-label >Email</ion-label><br/></div>
          <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </div>
      
        <div style="padding-bottom: 10px;">
          <div class="labeladjust"><ion-label >User Type</ion-label> <br/></div>
          <ion-select placeholder="Select One" [(ngModel)]="type" name="type">  
            <ion-select-option value="a">A</ion-select-option>  
            <ion-select-option value="b">B</ion-select-option>  
          </ion-select>  
        </div>
      <ion-grid>
        <ion-row>
          <ion-col size=6>
            <ion-button color="white" (click)="dashboard()" style="color: rgb(6, 6, 117);">Skip</ion-button>
          </ion-col>
            <ion-col size=6  *ngIf="name && phone && email && type">
              <ion-button style="width:100%;" type="submit" color="primary" (click)="signup()">Let's Start</ion-button>
            </ion-col>
            <ion-col size=6  *ngIf="!name || !phone || !email || !type">
              <ion-button [disabled]="true" style="width:100%;" type="submit" color="primary" (click)="signup()">Let's Start</ion-button>
            </ion-col>
          
        </ion-row>
      </ion-grid>
      
      
    </div>
   </form>
</ion-content>
